@page
@model HotelApp.Web.Pages.RoomSearchModel
@{
	ViewData["Title"] = "Room Search";
}

<h1>Room Search</h1>

<form method="post">
	<div class="form-group">
		<label asp-for="@Model.StartDate" />
		<input asp-for="@Model.StartDate" type="Date" />
	</div>

	<div class="form-group">
		<label asp-for="@Model.EndDate" />
		<input asp-for="@Model.EndDate" type="Date" />
	</div>

	<button class="btn btn-primary" type="submit">Search</button>
</form>

@if (Model.AvaibleRoomTypes?.Count > 0)
{
	<br />
	<h2>Results</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Room Type</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var room in Model.AvaibleRoomTypes)
			{
				<tr>
					<td>
						<strong>@room.Title</strong><br />
						@room.Description
					</td>
					<td>@string.Format("{0:C}", room.Price)</td>
					<td><a href="">Book Now</a></td>
				</tr>
			}
		</tbody>
	</table>
}

